:root {
    --color1: #00c2cb;
    --color2: #08f;
    --color3: aqua;
    --color-text: black;
    --color-bg: #eee;
}

* {
    margin: 0;
    padding: 0;
}

.body {
    background-color: rgb(230, 230, 230);
}

.header {
    background-color: var(--color2);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-text);
    /* padding: 2% 0 0 15%; */
}

.footer {
    background-color: var(--color2);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-text);
    padding: 16px;
    color: #eee;
    font-weight: 600;
    text-align: center;
}

.header__menu {
    display: flex;
    gap: 24px;
    padding: 8px;
}

.header__text {
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.header__menu__link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-text);
    border: 2px solid black;
    border-radius: 20px;
    padding: 3px;
    width: 130px;
    text-align: center;
    text-decoration: none;
    background-color: var(--color1);
}

.main {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    /* margin: 16px; */
    /* background-color: red; */
}

.main__content__intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 16px;
    border-radius: 65px;
    /* width: 80%; */
    background-color: var(--color-bg);
    background-color: yellowgreen;
}

.main__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 16px;
    /* width: 80%; */
    background-color: var(--color-bg);
    /* background-color: yellow; */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 65px;
}


.main__content__title {
    margin: 16px;
    font-size: 80px;
    text-align: center;
}

.main__content__title2 {
    margin: 16px;
    font-size: 40px;
    text-align: center;
}

.align1 {
    display: flex;
    flex-direction: column;
}

.main__content__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: var(--color-bg); */
    /* background-color: aqua; */
    width: 90%;
    margin: 16px;
}

.main__content__body__text {
    padding: 16px;
    font-size: 30px;
    text-align: center;
}

.main__content__body__text2 {
    padding: 16px;
    font-size: 20px;
    text-align: center;
}

.main__content__body__saveiro {
    width: 40%;
}

.main__intro__image {
    width: 30%;
    margin-left: 48px;
    border-radius: 0 48px 48px 0;
    /* box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25); */
}

.main__content__image {
    width: 30%;
    /* margin: 16px; */
    border-radius: 48px 0 0 48px;
    /* box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25); */
}

.main__image3 {
    width: 20%;
    margin: 16px;
    /* box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25); */
}

.img__align__bucha {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 16px;
}

.img__align__bucha__img {
    border-radius: 32px;
}

/* TABLETS AND OTHER MEDIUM SCREENS */

@media (min-width:551px) and (max-width:1200px) {
    .header {
        align-items: center;
    }

    .main {
        flex-direction: column;
        padding: 1% 5%;
        align-items: center;
    }

    .main__image {
        width: 80%;
    }

    .main__image3 {
        width: 80%;
    }

    .main__content {
        width: 80%;
    }
}

/* SMARTPHONES */
@media (max-width: 550px) {
    .header {
        align-items: center;
    }

    .header__text {
        font-size: 0.85rem;

    }

    .header__menu {
        padding: 8px;
        gap: 12px;
    }

    .header__menu__link {
        font-size: 1.2rem;
        /* padding: 1px; */
    }

    .main {
        flex-direction: column;
        align-items: center;
    }

    .main__intro__image {
        width: 35%;
        margin: 12px;
    }

    .main__image {
        width: 70%;
    }

    .main__image3 {
        width: 80%;
    }

    .main__content {
        width: 70%;
    }

    .main__content__intro {
        width: 100%;
    }

    .main__content__title {
        font-size: 1.5rem;
    }

    .main__content__body__text {
        font-size: 0.85rem;
    }

    .main__content__body__saveiro {
        width: 60%;
    }
}